.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
TempFiles/ADM1-CRU.csv
TempFiles/ADM1-Prevalence.csv
*.gz
TempFiles/Fig2Big.csv
TempFiles/Fig4Big2050.csv
TempFiles/Fig4Big2100.csv
TempFiles/Fig4BigRCP45.csv
TempFiles/SuppHistoricalBig.csv
